:root {
  --black: #000;
  --white: #fff;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}
*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-size: 1.7rem;
  color: var(--black);
}
