<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link media="all" rel="stylesheet" href="{{ path '/buttons/buttons.css' }}">
    <link media="all" rel="stylesheet" href="{{ path '/buttons/buttons--outlined.css' }}">
    <link media="all" rel="stylesheet" href="{{ path '/buttons/buttons--primary.css' }}">
    <title>Preview Layout</title>
</head>

<body>

    {{{ yield }}}

</body>

</html>